<body>
    <main>
        <section class="car-list container">
            <h1 class="text-center my-4">Nossos Carros</h1>
            <div class="row">
                @foreach (var viatura in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="@viatura.DirImagem" alt="@viatura.Marca @viatura.Modelo">
                            <div class="card-body">
                                <h5 class="card-title">@viatura.Marca @viatura.Modelo</h5>
                                <p class="card-text">
                                    <strong>Motor:</strong> @viatura.Motor <br />
                                    <strong>Potência:</strong> @viatura.Potencia <br />
                                    <strong>Transmissão:</strong> @viatura.Transmissao <br />
                                    <strong>Velocidade máxima:</strong> @viatura.Vmax <br />
                                    <strong>0-100 km/h:</strong> @viatura.Aceleracao <br />
                                    <strong>Peso:</strong> @viatura.Peso
                                </p>
                                <a href="#" class="btn btn-primary">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </main>
</body>